<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Daily Now</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div style="width:100%;min-width:100%;height:100%;">
        <div style="padding: 70px 0; background: #f7f8f9;">
            <div style="margin: 0 auto; width: 600px; color: #000;">
                <div style="padding: 30px 90px; border: 1px solid #dfdfdf; background: #fff;">
                    <h3 style="margin-bottom: 35px; text-align: center; font-size: 26px; font-weight: 1200; font-family:'Source Sans Pro'">Daily Now 비밀번호 찾기 인증번호</h3>
                    <div style="padding: 5px 0 20px; text-align: center; border-top: 1px solid rgb(172, 172, 172);">
                        <p style="font-size: 14px; text-align: center; font-weight: 600; line-height: 60px;font-family:'Source Sans Pro'">Daily Now 홈페이지 비밀번호찾기 인증번호입니다.<br>아래 인증번호를 인증번호 입력란에 입력해주세요.</p>
                    </div>
                    <div style="padding: 20px 30px; text-align: center; background: #f7f8f9;"><p style="font-size: 18px; font-weight: bold; font-family:'Source Sans Pro'">{{ password_token }}</p></div>
                    <br>
                    <p style="font-size: 14px; text-align: center; font-weight: 600; line-height: 60px;font-family:'Source Sans Pro'">항상 믿을 수 있는 서비스를 제공하는 Daily Now가 되겠습니다.<br>Daily Now를 믿고 이용해주셔서 감사합니다.</p>

                    <br><br>

                </div>

            </div>
        </div>
    </div>
</body>
</html>